In [1]:
import pandas as pd
import seaborn as sns 
import json
sns.set(style = "darkgrid")

In [2]:
#Get tv show data downloaded from imdb

df = pd.read_csv('/Users/maria/Documents/GitHub/Twitter_CancelledTVShows/IMDB_Data/title.basics.tsv'
                 , delimiter='\t')

/Applications/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
# title = df['titleType'].unique()
# print(sorted(title))

In [35]:
tv_series = df.query('titleType == "tvSeries" & endYear > "1990"')
#get rid of null character
tv_series = tv_series.replace('\\N', '')
#suggest doing other things here, like capitalization, removing common words, etc. 
df_tv = pd.DataFrame(tv_series)
df_tv.drop(columns=['tconst', 'titleType', 'isAdult', 'runtimeMinutes'], inplace =True)
df_tv

,primaryTitle,originalTitle,startYear,endYear,genres
31986,The Green Archer,The Green Archer,1940,,"Action,Adventure,Crime"
38450,The Borden Show,The Borden Show,1947,,"Comedy,Music"
38452,Party Line,Party Line,1946,,
39342,America Speaks,America Speaks,1948,,
39346,At Liberty Club,At Liberty Club,1948,,Music
...,...,...,...,...,...
7584840,Rumpole of the Bailey,Rumpole of the Bailey,,,
7584843,Kalyanam Mudhal Kadhal Varai,Kalyanam Mudhal Kadhal Varai,2014,2017,Romance
7584844,Lost in Food,Lost in Food,2016,2017,Talk-Show
7584924,Meie aasta Aafrikas,Meie aasta Aafrikas,2019,,"Adventure,Comedy,Family"
7585067,Acelerados,Acelerados,2019,,Comedy

In [ ]:
# df_tv.to_csv("/Users/maria/Documents/GitHub/Twitter_CancelledTVShows/imdb_series.csv", sep=",")